@media (max-width: 63.99rem) {
  .wrapper {
    padding-left: 4.5rem !important;
    padding-right: var(--mu-spacing-4) !important;
  }
}

@media (max-width: 47.99rem) {
  .wrapper {
    height: auto !important;
    min-height: 4.5rem;
  }
}
